html {
	background: url("/data/skins/chinese/images/bg.gif") rgb(255, 255, 255); color: rgb(0, 0, 0); line-height: 200%; letter-spacing: 0px; font-family: MSYH,Verdana; font-size: 12px;
}
body {
	background: url("/data/skins/chinese/image/bg.jpg") repeat-x; color: rgb(0, 0, 0); line-height: 200%; letter-spacing: 0px; font-family: MSYH,Verdana; font-size: 12px;
}
img {
	border: 0pt currentColor; border-image: none; vertical-align: middle;
}
div {
	margin: 0px auto;
}
table {
	margin: 0px auto;
}
textarea {
	background-position: left top; border: 1px solid rgb(179, 179, 179); width: 100%; color: rgb(0, 0, 0); line-height: 24px; padding-right: 8px; padding-left: 8px; font-family: MSYH,Verdana; font-size: 12px; text-decoration: none; -ms-overflow-y: auto; background-image: url("/images/textarea.gif"); background-repeat: repeat; background-color: rgb(255, 255, 255);
}
td {
	line-height: 22px; font-family: Verdana,宋体; font-size: 12px;
}
a:link {
	color: rgb(0, 0, 0); font-family: MSYH,Verdana; font-size: 12px; text-decoration: none;
}
a:visited {
	color: rgb(0, 0, 0); font-family: MSYH,Verdana; font-size: 12px; text-decoration: none;
}
a:hover {
	color: rgb(24, 103, 160); font-family: MSYH,Verdana; font-size: 12px; text-decoration: underline;
}
a:active {
	color: rgb(24, 103, 160); font-family: MSYH,Verdana; font-size: 12px;
}
a.titlefont:link {
	color: rgb(114, 134, 163); font-family: MSYH,Verdana; font-size: 12px; font-weight: bold; text-decoration: none;
}
a.titlefont:visited {
	color: rgb(114, 134, 163); font-family: MSYH,Verdana; font-size: 12px; font-weight: bold; text-decoration: none;
}
a.titlefont:hover {
	color: rgb(255, 153, 0); font-family: MSYH,Verdana; font-size: 12px; font-weight: bold; text-decoration: underline;
}
a.titlefont:active {
	color: rgb(114, 134, 163); font-family: MSYH,Verdana; font-size: 12px; font-weight: bold;
}
a.titlefont1:link {
	color: rgb(114, 134, 163); font-family: MSYH,Verdana; font-size: 12px; text-decoration: none;
}
a.titlefont1:visited {
	color: rgb(114, 134, 163); font-family: MSYH,Verdana; font-size: 12px; text-decoration: none;
}
a.titlefont1:hover {
	color: rgb(255, 153, 0); font-family: MSYH,Verdana; font-size: 12px; text-decoration: underline;
}
a.titlefont1:active {
	color: rgb(114, 134, 163); font-family: MSYH,Verdana; font-size: 12px;
}
a.se-menu:link {
	color: rgb(58, 115, 154); font-family: MSYH,Verdana; font-size: 14px; font-weight: bold; text-decoration: none;
}
a.se-menu:visited {
	color: rgb(58, 115, 154); font-family: MSYH,Verdana; font-size: 14px; font-weight: bold; text-decoration: none;
}
a.se-menu:hover {
	color: rgb(58, 115, 154); font-family: MSYH,Verdana; font-size: 14px; font-weight: bold; text-decoration: underline;
}
a.se-menu:active {
	color: rgb(58, 115, 154); font-family: MSYH,Verdana; font-size: 14px; font-weight: bold;
}
a.menulink:visited {
	color: rgb(255, 255, 204); text-decoration: none;
}
a.menulink:hover {
	text-decoration: underline;
}
.margin {
	padding: 4px;
}
.table {
	width: 800px;
}
.table1 {
	border: 1px solid rgb(179, 179, 179); border-image: none; width: 100%; background-color: rgb(255, 255, 255);
}
.table2 {
	border: 1px solid rgb(179, 179, 179); border-image: none; width: 100%; background-color: rgb(212, 238, 255);
}
.table3 {
	width: 100%; background-color: rgb(179, 179, 179);
}
.table4 {
	width: 100%;
}
.table5 {
	width: 98%;
}
.table6 {
	border: 1px solid rgb(179, 179, 179); border-image: none; width: 96%; background-color: rgb(217, 217, 217);
}
.table7 {
	border: 1px solid rgb(179, 179, 179); border-image: none; background-color: rgb(255, 255, 255);
}
.table8 {
	background-color: rgb(255, 255, 255);
}
.table9 {
	border: 2px double rgb(245, 250, 254); border-image: none;
}
.navi {
	padding-right: 5px; padding-left: 5px; background-image: url("/data/skins/chinese/images/navi.jpg");
}
.navibar {
	padding: 2px; height: 25px; text-align: left; color: rgb(0, 0, 0); font-family: MSYH,Verdana; font-size: 12px; font-weight: bold; border-bottom-color: rgb(179, 179, 179); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(217, 217, 217);
}
.navi1 {
	padding: 2px; height: 25px; color: rgb(0, 0, 0); font-family: MSYH,Verdana; font-size: 12px; font-weight: bold; border-bottom-color: rgb(179, 179, 179); border-bottom-width: 1px; border-bottom-style: solid;
}
.navi2 {
	padding: 2px; height: 25px; color: rgb(0, 0, 0); font-family: MSYH,Verdana; font-size: 12px; font-weight: bold; border-bottom-color: rgb(179, 179, 179); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(217, 217, 217);
}
.navigation {
	height: 22px; text-align: left; padding-top: 3px; padding-right: 11px; padding-left: 11px; background-color: rgb(179, 179, 179);
}
.font {
	padding: 5px; text-align: left; color: rgb(0, 0, 0); line-height: 150%; letter-spacing: 1px; font-family: MSYH,Verdana; font-size: 12px;
}
.font2 {
	padding: 5px; text-align: left; color: rgb(255, 255, 255); line-height: 150%; letter-spacing: 0px; font-family: MSYH,Verdana; font-size: 16px;
}
.banner {
	background-color: rgb(217, 217, 217);
}
.trtd {
	background-color: rgb(212, 238, 255);
}
.input {
	border-width: 1px; border-style: solid; border-color: rgb(179, 179, 179) rgb(179, 179, 179) rgb(204, 204, 204); color: rgb(0, 0, 0); font-size: 9pt; background-color: rgb(255, 255, 255);
}
.content {
	line-height: 180%; font-family: MSYH,Verdana; font-size: 14px;
}
.content a {
	line-height: 180%; font-family: MSYH,Verdana; font-size: 14px;
}
input {
	border: 1px solid rgb(223, 233, 243); color: rgb(0, 0, 0); font-size: 9pt; background-color: rgb(255, 255, 255);
}
select {
	border: 1px solid rgb(223, 233, 243); color: rgb(0, 0, 0); font-size: 9pt; background-color: rgb(255, 255, 255);
}
.radio {
	border: 1px currentColor; color: rgb(0, 0, 0); font-size: 9pt; background-color: rgb(255, 255, 255);
}
.code {
	background: rgb(246, 246, 246); padding: 10px; border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(0, 0, 0); font-family: MSYH,Verdana; font-size: 12px;
}
.td1 {
	font-family: MSYH,Verdana; font-size: 12px; background-color: rgb(255, 255, 255);
}
.td2 {
	font-family: MSYH,Verdana; font-size: 12px; background-color: rgb(217, 217, 217);
}
.menu {
	background-color: rgb(179, 179, 179);
}
.content {
	line-height: 150%; font-family: MSYH,Verdana; font-size: 14px;
}
.summary {
	line-height: 150%; font-family: MSYH,Verdana; font-size: 14px; font-weight: bold;
}
input.button {
	padding: 0px 5px; border: 1px solid rgb(174, 195, 222); border-image: none; height: 21px; color: rgb(96, 116, 145); line-height: 21px; font-family: MSYH,Verdana,Tahoma, Arial; font-size: 12px; cursor: pointer; background-image: url("/images/button.gif"); background-color: rgb(246, 250, 255);
}
div {
	margin: 0px auto;
}
resizable {
	width: 80%; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.header {
	color: rgb(0, 0, 0); font-family: Tahoma, MSYH,Verdana; font-size: 12px; font-weight: normal;
}
.bodydiv {
	width: 800px; clear: both; display: table; background-color: rgb(255, 255, 255);
}
.top {
	height: 100px;
}
.heard {
	margin: 0px auto; width: 100%; height: auto; clear: both;
}
.mainmenu {
	margin: 0px auto; width: 100%; height: auto; clear: both;
}
.footer {
	margin: 0px auto; width: 100%; height: auto; clear: both;
}
.heard {
	margin: 0px auto; width: 800px; height: 70px; overflow: hidden;
}
.heard_right {
	width: 460px; height: 25px; text-align: right; color: rgb(30, 86, 147); line-height: 25px; overflow: hidden; clear: right; margin-top: 30px; margin-right: 0px; float: right; display: inline;
}
.navigation_link {
	line-height: 25px;
}
.navigation_link a {
	color: rgb(0, 0, 0); line-height: 25px;
}
.heard_right a:link {
	color: rgb(30, 86, 147);
}
.heard_right a:visited {
	color: rgb(30, 86, 147);
}
.heard_right a:hover {
	color: rgb(30, 86, 147);
}
.heard_right a:active {
	color: rgb(30, 86, 147);
}
#container_txtimg img {
	max-height: 200px; max-width: 200px;
}
.footer {
	margin: 0px auto; width: 800px; height: 84px; text-align: center;
}
.footermenu {
	background: rgb(18, 44, 167); height: 27px; text-align: center; color: rgb(255, 255, 255); line-height: 27px;
}
.footermenu a:link {
	color: rgb(255, 255, 255);
}
.footermenu a:visited {
	color: rgb(255, 255, 255);
}
.footermenu a:hover {
	color: rgb(255, 255, 255);
}
.footermenu a:active {
	color: rgb(255, 255, 255);
}
.botton_green {
	background: url("/data/skins/chinese/images/botton_green.jpg") no-repeat left top; width: 72px; height: 23px; text-align: center; color: rgb(0, 0, 0); line-height: 23px; margin-left: 8px; float: left; display: block; cursor: pointer;
}
.mainmenu {
	background: rgb(18, 44, 167); margin: 0px auto; width: 800px; height: 27px; text-align: left;
}
.menu1 {
	margin: 0px; left: 95px; width: auto; height: 27px; line-height: 27px; overflow: hidden; float: left; display: block; position: relative; z-index: 100;
}
.menu1 a:link {
	background: url("/data/skins/chinese/img/menu_bg.jpg") no-repeat right; width: 88px; height: 27px; text-align: center; color: rgb(255, 255, 204); line-height: 27px; font-size: 12px; font-weight: bold; text-decoration: none; float: left; display: block; z-index: 100;
}
.menu1 a:visited {
	background: url("/data/skins/chinese/img/menu_bg.jpg") no-repeat right; width: 88px; height: 27px; text-align: center; color: rgb(255, 255, 204); line-height: 27px; font-size: 12px; font-weight: bold; text-decoration: none; float: left; display: block; z-index: 100;
}
.menu1 a:hover {
	background: url("/data/skins/chinese/img/menu_bg.jpg") no-repeat right; width: 88px; height: 27px; text-align: center; color: rgb(255, 255, 204); line-height: 27px; font-size: 12px; font-weight: bold; text-decoration: none; float: left; display: block; z-index: 100;
}
.menu1 a:active {
	background: url("/data/skins/chinese/img/menu_bg.jpg") no-repeat right; width: 88px; height: 27px; text-align: center; color: rgb(255, 255, 204); line-height: 27px; font-size: 12px; font-weight: bold; text-decoration: none; float: left; display: block; z-index: 100;
}
.click a:link {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat -246px 0px;
}
.click a:visited {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat -246px 0px;
}
.click a:hover {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat -246px 0px;
}
.click a:active {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat -246px 0px;
}
.first a:link {
	width: 70px;
}
.first a:visited {
	width: 70px;
}
.first a:hover {
	width: 70px;
}
.first a:active {
	width: 70px;
}
.first a:hover {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat left 0px;
}
.first a:active {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat left 0px;
}
.firstclick a:link {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat left 0px; width: 70px;
}
.firstclick a:visited {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat left 0px; width: 70px;
}
.firstclick a:hover {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat left 0px; width: 70px;
}
.firstclick a:active {
	background: url("/data/skins/chinese/image/nav_bg.jpg") no-repeat left 0px; width: 70px;
}
.menu1:hover ul {
	display: block; visibility: visible; position: absolute;
}
.menu1 ul {
	margin: 0px; padding: 0px; left: 0px; top: 27px; width: 88px; height: auto; display: inline; visibility: hidden; position: absolute; z-index: 100;
}
.menu1 ul li {
	list-style: none; width: 88px; height: 27px; text-align: left; overflow: hidden; font-size: 12px; display: inline; white-space: nowrap; z-index: 100; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.second ul {
	width: 107px;
}
.second ul li {
	width: 107px;
}
.secondclick ul {
	width: 107px;
}
.secondclick ul li {
	width: 107px;
}
.menu1 ul li a:link {
	background: rgb(179, 179, 179); margin: 0px; width: 100%; height: 27px; text-align: left; color: rgb(255, 255, 204); line-height: 27px; text-indent: 20px; font-size: 12px; text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block; z-index: 100;
}
.menu1 ul li a:visited {
	background: rgb(179, 179, 179); margin: 0px; width: 100%; height: 27px; text-align: left; color: rgb(255, 255, 204); line-height: 27px; text-indent: 20px; font-size: 12px; text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block; z-index: 100;
}
.menu1 ul li a:hover {
	background: rgb(179, 179, 179); margin: 0px; width: 100%; height: 27px; text-align: left; color: rgb(255, 255, 204); line-height: 27px; text-indent: 20px; font-size: 12px; text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block; z-index: 100;
}
.menu1 ul li a:active {
	background: rgb(179, 179, 179); margin: 0px; width: 100%; height: 27px; text-align: left; color: rgb(255, 255, 204); line-height: 27px; text-indent: 20px; font-size: 12px; text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block; z-index: 100;
}
.menu1 ul li a:hover {
	background: rgb(140, 172, 187);
}
.sub {
	display: none;
}
.sourcecode {
	margin: 10px; padding: 0.5em; border: 1px dashed rgb(140, 172, 187); color: black; overflow: auto; clear: both; font-family: "Courier New", Courier, monospace; font-size: 9pt; white-space: normal; -ms-word-break: keep-all; -ms-word-wrap: normal; background-color: rgb(247, 249, 250);
}
.companytitle {
	font: bold 20px/normal MSYH,Verdana; color: rgb(255, 255, 255);
}
.tableheader {
	color: rgb(0, 0, 0); font-family: MSYH,Verdana; font-size: 12px; background-color: rgb(217, 217, 217);
}
.tableheader1 {
	color: rgb(0, 0, 0); font-family: MSYH,Verdana; font-size: 12px; background-color: rgb(217, 217, 217);
}
.forumheader {
	color: rgb(0, 0, 0); background-color: rgb(217, 217, 217); align: center;
}
.forumcategory {
	color: rgb(0, 0, 0); background-color: rgb(179, 179, 179);
}
.menustyle1 {
	border: 1px solid currentColor; border-image: none;
}
.menustyle2 {
	border: 1px solid rgb(217, 217, 217); border-image: none;
}
.input1 {
	border: 1px solid rgb(185, 224, 255); border-image: none; width: 100px; color: rgb(145, 183, 219); font-family: "MSYH,Verdana"; background-color: rgb(255, 255, 255);
}
.photo {
	border: 1px double rgb(203, 204, 205); border-image: none;
}
.poll {
	border: 0px currentColor; border-image: none; width: 48px; height: 18px; background-image: url("/data/skins/chinese/images/poll.gif");
}
.bottom {
	text-align: center;
}
.font_title {
	padding: 5px; text-align: left; color: rgb(51, 51, 51); letter-spacing: 1px; font-family: "MSYH,Verdana"; font-size: 14px; font-weight: bold;
}
.symbols {
	background-position: 0px 50%; width: 12px; height: 1em; float: left; background-repeat: no-repeat;
}
.highlight {
	color: rgb(0, 0, 0); font-size: 14px;
}
.banner-left {
	background-position: left top; background-image: url("/data/skins/chinese/images/banner-left.jpg"); background-repeat: no-repeat;
}
.banner-right {
	background-position: right top; background-image: url("/data/skins/chinese/images/banner-right.jpg"); background-repeat: no-repeat;
}
.language {
	color: rgb(195, 225, 249); font-family: "Microsoft Yahei", Verdana; font-size: 12px; text-decoration: none;
}
.language-bold {
	color: rgb(255, 255, 255); font-family: "Microsoft Yahei", Verdana; font-size: 12px; font-weight: bold; text-decoration: none;
}
.search {
	background-position: left; border-width: 0px; width: 147px; height: 16px; color: rgb(114, 134, 163); padding-top: 2px; padding-left: 17px; font-family: Verdana; font-size: 12px; background-image: url("/images/search.gif"); background-attachment: fixed; background-repeat: no-repeat; background-color: rgb(209, 227, 242);
}
.menubit {
	background-color: rgb(2, 48, 94);
}
.font01 {
	color: rgb(57, 71, 159); line-height: 23px; text-indent: 5px; font-family: MSYH,Verdana; font-size: 12px; font-weight: bolder; text-decoration: none; border-bottom-color: rgb(184, 223, 254); border-bottom-width: 1px; border-bottom-style: solid;
}
.font02 {
	color: rgb(92, 92, 92); line-height: 20px; font-family: MSYH,Verdana; font-size: 12px; text-decoration: none;
}
.user-title {
	color: rgb(0, 0, 0); padding-top: 2px; padding-left: 11px; font-family: MSYH,Verdana; font-size: 12px; font-weight: bolder; text-decoration: none; background-color: rgb(217, 217, 217);
}
.user-menu {
	background-position: left; padding-top: 2px; padding-left: 24px; background-image: url("/images/user-dot001.gif"); background-repeat: no-repeat;
}
.categoryimage {
	background-position: left top; border: currentColor; border-image: none; width: 705px; height: 94px; background-image: url("/data/skins/chinese/images/barner.jpg"); background-repeat: no-repeat;
}
#logo {
	position: absolute; z-index: 5;
}
.time01 {
	color: rgb(119, 119, 119); font-family: MSYH,Verdana; font-size: 11px; text-decoration: none;
}
.time02 {
	color: rgb(155, 172, 196); font-family: MSYH,Verdana; font-size: 11px; font-weight: bold; text-decoration: none;
}
.welcome {
	background-position: left top; background-image: url("/data/skins/chinese/images/welcome.gif"); background-attachment: fixed; background-repeat: no-repeat;
}
.table-right {
	border-width: 0px 1px 0px 0px; border-style: none solid none none; color: rgb(26, 98, 163); font-family: MSYH,Verdana; border-right-color: rgb(224, 233, 244);
}
.table-top {
	border-width: 2px 0px 0px; border-style: solid none none; border-top-color: rgb(224, 233, 244);
}
.photo-advanced {
	border: 2px double rgb(245, 250, 254); border-image: none;
}
#mainContainer {
	margin: 0px auto; width: 100%; text-align: left;
}
.company-titlebg {
	background-position: left top; color: rgb(0, 0, 0); padding-left: 15px; font-family: MSYH,Verdana,Verdana; font-size: 12px; font-weight: bold; text-decoration: none; background-image: url("/images/supply/title-bg.gif"); background-repeat: repeat-x;
}
#dig {
	margin: auto 10px 10px auto; width: auto; height: auto; text-align: left; float: left;
}
td {
	
}
#ajaxloading {
	background: rgb(221, 0, 0); top: 0px; width: 100px; height: 1.6em; right: 0px; color: rgb(255, 255, 255); line-height: 1.6em; overflow: hidden; display: none; position: absolute; z-index: 100;
}
.channel_name {
	margin: 0px; padding: 8px 0px 0px; width: 100%; height: 30px;
}
.channel_name span {
	width: auto; text-align: left; font-size: 14px; font-weight: bold; margin-left: 36px; display: inline;
}
.leftmenu {
	background: rgb(255, 255, 255); list-style: none; margin: 0px; padding: 0px; width: 100%;
}
.leftmenu {
	background: rgb(255, 255, 255); list-style: none; margin: 0px; padding: 0px; text-align: left;
}
.leftmenu a:hover {
	background-color: rgb(237, 237, 237);
}
.leftmenu a:active {
	background-color: rgb(237, 237, 237);
}
.leftlayer1 a {
	text-indent: 12px;
}
.leftlayer2 a {
	text-indent: 24px;
}
.leftlayer3 a {
	text-indent: 36px;
}
.leftlayer4 a {
	text-indent: 48px;
}
.leftlayer5 a {
	text-indent: 60px;
}
.template {
	width: 100%; text-align: center; margin-right: auto; margin-left: auto; display: inline;
}
h1 {
	margin: 0px; padding: 0px 0px 2px; height: 25px; color: rgb(68, 68, 68); line-height: 25px; font-size: 14px; font-weight: bold;
}
h2 {
	margin: 0px; padding: 0px 0px 2px; height: 25px; color: rgb(51, 51, 51); line-height: 25px; font-family: Verdana,宋体; font-size: 12px; font-weight: bold;
}
h3 {
	margin: 0px; padding: 0px 0px 2px; height: 25px; color: rgb(77, 124, 193); line-height: 25px; font-family: Verdana,宋体; font-size: 12px; font-weight: bold;
}
h4 {
	margin: 0px; padding: 0px 0px 2px; color: rgb(77, 124, 193); line-height: 22px; font-family: Verdana,宋体; font-size: 12px; font-weight: normal;
}
h1.title {
	margin: 0px; padding: 0px 0px 2px; width: auto; height: 16px; color: rgb(68, 68, 68); line-height: 16px; clear: both; font-family: Verdana,宋体; font-size: 14px; font-weight: bold; float: left;
}
h1.title1 {
	margin: 0px; padding: 0px 0px 2px; width: auto; height: 16px; color: rgb(68, 68, 68); line-height: 16px; font-family: Verdana,宋体; font-size: 14px; font-weight: bold; float: left;
}
h4.title1 {
	margin: 0px; padding: 0px 0px 2px; width: auto; height: 16px; color: rgb(68, 68, 68); line-height: 16px; font-family: Verdana,宋体; font-size: 12px; font-weight: normal; float: right;
}
hr {
	border-width: 1px medium medium; border-style: dashed none none; border-color: rgb(178, 178, 178) currentColor currentColor; border-image: none; height: 1px; line-height: 1px; clear: both; margin-top: 0px !important; margin-bottom: 5px !important; vertical-align: top;
}
.portlecontent a:link {
	color: rgb(46, 149, 26); line-height: 22px; font-family: Verdana,宋体; font-size: 12px; text-decoration: underline;
}
.portlecontent a:visited {
	color: rgb(46, 149, 26); line-height: 22px; font-family: Verdana,宋体; font-size: 12px; text-decoration: none;
}
.portlecontent a:hover {
	color: rgb(77, 124, 193); line-height: 22px; font-family: Verdana,宋体; font-size: 12px; text-decoration: underline;
}
.portlecontent a:active {
	color: rgb(46, 149, 26); line-height: 22px; font-family: Verdana,宋体; font-size: 12px;
}
.leftbit a:link {
	height: 23px; color: rgb(17, 17, 17); line-height: 22px; font-family: MSYH,Verdana; text-decoration: underline;
}
.leftbit a:visited {
	height: 23px; color: rgb(17, 17, 17); line-height: 22px; font-family: MSYH,Verdana; text-decoration: none;
}
.leftbit a:hover {
	height: 23px; color: rgb(0, 115, 189); line-height: 22px; font-family: MSYH,Verdana; text-decoration: underline;
}
.leftbit a:active {
	height: 23px; color: rgb(17, 17, 17); line-height: 22px; font-family: MSYH,Verdana;
}
.portlecontent td {
	line-height: 22px; font-family: Verdana,宋体; font-size: 12px;
}
#bodycontentContainer {
	background: rgb(255, 255, 255); margin: 0px auto; width: 800px; clear: both;
}
#portlet_config_content {
	background: rgb(255, 255, 255); width: 100%; text-align: left; min-height: 100px;
}
.DragContainer {
	margin: 0px; padding: 0px; width: auto; height: auto; overflow: hidden; float: left; min-height: 120px;
}
.DragContainer::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.jqDrag {
	cursor: move;
}
.portlet::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.portlet {
	background: url("/data/skins/chinese/images/bg_left.jpg") repeat-x rgb(255, 255, 255); border: 1px solid rgb(179, 179, 179); border-image: none; width: 99.5%; margin-top: 10px; margin-left: 0px;
}
.portlecontent p {
	padding: 2px 8px;
}
.portlettitle {
	overflow: hidden; border-bottom-color: rgb(179, 179, 179); border-bottom-width: 1px; border-bottom-style: solid;
}
#col1 {
	margin: 0px; width: auto !important; float: left; min-width: 23.33%;
}
#col2 {
	display: none;
}
#col3 {
	width: auto !important; float: right; min-width: 75.67%;
}
.c50l {
	float: left;
}
.c25l {
	float: left;
}
.c33l {
	float: left;
}
.c38l {
	float: left;
}
.c66l {
	float: left;
}
.c75l {
	float: left;
}
.c62l {
	float: left;
}
.c50r {
	float: right;
}
.c25r {
	float: right;
}
.c33r {
	float: right;
}
.c38r {
	float: right;
}
.c50r.c66r {
	float: right;
}
.c75r {
	float: right;
}
.c62r {
	float: right;
}
.c25l {
	width: auto !important;
}
.c25r {
	width: auto !important;
}
.c33l {
	width: 33%;
}
.c33r {
	width: 33%;
}
.c50l {
	width: 49.5%;
}
.c50r {
	width: 49.5%;
}
.c66l {
	width: 66%;
}
.c66r {
	width: 66%;
}
.c75l {
	width: 74.5%;
}
.c75r {
	width: 74.5%;
}
.c38l {
	width: 37.5%;
}
.c38r {
	width: 37.5%;
}
.c62l {
	width: 61.5%;
}
.c62r {
	width: 61.5%;
}
.subcolumns {
	background: rgb(255, 255, 255); width: 100%; overflow: hidden; margin-top: 1px; float: right;
}
.clear {
	height: 0px; line-height: 0; clear: both; font-size: 0px;
}
.news_list {
	
}
.news_list a {
	height: 22px; color: rgb(255, 255, 255); line-height: 22px;
}
.soft_tab {
	background: url("/data/skins/chinese/image/tab_bg.jpg") no-repeat left -32px; width: 616px; float: left;
}
.soft_tab ul {
	list-style: none; margin: 0px 0px 0px 21px; padding: 0px; width: 150px; height: 32px; line-height: 32px; float: left;
}
.soft_tab ul li {
	width: 71px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-weight: bold; float: left;
}
.title_on {
	background: url("/data/skins/chinese/image/tab_bg.jpg") -21px top; color: rgb(0, 0, 0);
}
.line {
	background: url("/data/skins/chinese/image/index_15.jpg") no-repeat left top; width: 21px; height: 231px; float: left;
}
.soft_version {
	width: 298px; height: auto; float: left;
}
.version_title {
	background: url("/data/skins/chinese/image/title_left.gif") no-repeat left top; height: 18px; line-height: 18px; padding-left: 9px; margin-top: 10px; margin-bottom: 5px; float: left; widht: auto;
}
.version_title span {
	background: url("/data/skins/chinese/image/title_right.gif") no-repeat right top; color: rgb(255, 255, 255); line-height: 19px; padding-right: 10px; display: block;
}
.tabcontent {
	width: 616px; height: auto; float: left;
}
.service {
	width: 345px; height: auto; margin-left: 10px; float: left; display: inline;
}
.servicecontent {
	margin: 4px 0px; width: 100%; height: auto; float: left;
}
p {
	margin: 0px 0px 5px; padding: 0px; line-height: 18px;
}
.service_list {
	list-style: none; margin: 6px 0px 0px; padding: 0px; width: 200px; height: auto;
}
.service_list li {
	height: 28px; line-height: 28px; text-indent: 46px;
}
.portlecontent {
	padding-top: 5px; padding-right: 5px; font-family: 宋体;
}
ul.default {
	padding: 0px; text-align: left; float: left;
}
ul.text {
	padding: 0px; text-align: left;
}
ul.news {
	margin: 0px !important; padding: 0px; text-align: left; float: left;
}
li {
	margin-left: 0px !important; list-style-type: none;
}
.kehu li {
	list-style-type: none;
}
li.anli {
	height: 25px; margin-right: 12px; float: left; list-style-image: url("/data/skins/chinese/images/dot002.gif");
}
ul.default li.title {
	padding: 0px 0px 0px 4px !important; height: 25px; list-style-image: url("/data/skins/chinese/images/dot002.gif");
}
ul li {
	list-style-type: none;
}
ul li.news {
	height: 25px; margin-left: 0px !important; list-style-type: none; list-style-image: none;
}
ul li.news1 {
	height: 25px; margin-left: 0px !important; list-style-type: none; list-style-image: none;
}
ul li.news2 {
	height: 25px; margin-top: -4px; margin-left: 0px !important; list-style-type: none; list-style-image: none;
}
ul li.time {
	height: 15px; line-height: 15px; font-family: 藥胎,Arial, Helvetica, sans-serif; font-size: 10px; margin-left: 0px !important; list-style-type: none; list-style-image: none;
}
ul li.left001 {
	height: 25px; margin-left: 0px !important; list-style-type: none; list-style-image: none;
}
ul li.left002 {
	margin-left: 24px !important; list-style-type: none; list-style-image: none;
}
#map00 {
	position: absolute; z-index: 200;
}
#map01 {
	position: absolute; z-index: 201;
}
#map02 {
	position: absolute; z-index: 202;
}
#map03 {
	position: absolute; z-index: 203;
}
#map04 {
	position: absolute; z-index: 204;
}
#map05 {
	position: absolute; z-index: 205;
}
#map06 {
	position: absolute; z-index: 206;
}
.searchdiv {
	padding: 2px; height: 22px !important; background-color: rgb(230, 240, 250);
}
.searchfrom {
	border: 1px solid rgb(13, 74, 147); border-image: none; width: 200px; height: 16px; color: rgb(144, 153, 147); padding-left: 2px; margin-top: 2px !important;
}
.box {
	border: 1px solid rgb(13, 74, 147); border-image: none; width: 97px; height: 19px; overflow: hidden; clip: rect(0px, 96px, 18px, 0px);
}
.box2 {
	border: 1px solid rgb(244, 244, 244); border-image: none; width: 95px; height: 17px; overflow: hidden; clip: rect(0px, 94px, 16px, 0px);
}
.server {
	width: 93px; height: 30px; text-align: center; margin-right: 5px; float: left; background-image: url("/data/skins/chinese/images/submit1.gif"); background-color: rgb(246, 250, 255);
}
.server a:link {
	height: 16px; color: rgb(255, 255, 255); font-family: MSYH,Verdana,Tahoma, Arial; font-size: 14px; font-weight: bold; text-decoration: none; margin-top: 3px; vertical-align: middle; display: block;
}
.server a:visited {
	height: 16px; color: rgb(255, 255, 255); font-family: MSYH,Verdana,Tahoma, Arial; font-size: 14px; font-weight: bold; text-decoration: none; margin-top: 3px; vertical-align: middle; display: block;
}
.server a:hover {
	height: 16px; color: rgb(255, 255, 255); font-family: MSYH,Verdana,Tahoma, Arial; font-size: 14px; font-weight: bold; text-decoration: none; margin-top: 3px; vertical-align: middle; display: block;
}
.server a:active {
	height: 16px; color: rgb(255, 255, 255); font-family: MSYH,Verdana,Tahoma, Arial; font-size: 14px; font-weight: bold; margin-top: 3px; vertical-align: middle; display: block;
}
.server1 {
	width: 93px; height: 30px; text-align: center; margin-right: 5px; float: left; background-image: url("/data/skins/chinese/images/submit.gif"); background-color: rgb(246, 250, 255);
}
.server1 a:link {
	height: 16px; color: rgb(255, 255, 255); font-family: MSYH,Verdana,Tahoma, Arial; font-size: 14px; font-weight: bold; text-decoration: none; margin-top: 3px; vertical-align: middle; display: block;
}
.server1 a:visited {
	height: 16px; color: rgb(255, 255, 255); font-family: MSYH,Verdana,Tahoma, Arial; font-size: 14px; font-weight: bold; text-decoration: none; margin-top: 3px; vertical-align: middle; display: block;
}
.server1 a:hover {
	height: 16px; color: rgb(255, 255, 255); font-family: MSYH,Verdana,Tahoma, Arial; font-size: 14px; font-weight: bold; text-decoration: none; margin-top: 3px; vertical-align: middle; display: block;
}
.server1 a:active {
	height: 16px; color: rgb(255, 255, 255); font-family: MSYH,Verdana,Tahoma, Arial; font-size: 14px; font-weight: bold; margin-top: 3px; vertical-align: middle; display: block;
}
.portletcontent p {
	padding: 10px;
}
#col1 {
	margin: 0px; width: 23.33%; float: left;
}
#col2 {
	display: none;
}
#col3 {
	width: 75.67%; margin-right: 0px; margin-left: -1px; float: right;
}
.c50l {
	float: left;
}
.c25l {
	float: left;
}
.c33l {
	float: left;
}
.c38l {
	float: left;
}
.c66l {
	float: left;
}
.c75l {
	float: left;
}
.c62l {
	float: left;
}
.c100l {
	float: left;
}
.c50r {
	margin-left: -5px; float: right;
}
.c25r {
	margin-left: -5px; float: right;
}
.c33r {
	margin-left: -5px; float: right;
}
.c38r {
	margin-left: -5px; float: right;
}
.c50r.c66r {
	margin-left: -5px; float: right;
}
.c75r {
	margin-left: -5px; float: right;
}
.c62r {
	margin-left: -5px; float: right;
}
.c25l {
	width: 24.5%;
}
.c25r {
	width: 24.5%;
}
.c33l {
	width: 33%;
}
.c33r {
	width: 33%;
}
.c50l {
	width: 49.5%;
}
.c50r {
	width: 49.5%;
}
.c66l {
	width: 66%;
}
.c66r {
	width: 66%;
}
.c75l {
	width: 74.5%;
}
.c75r {
	width: 74.5%;
}
.c38l {
	width: 37.5%;
}
.c38r {
	width: 37.5%;
}
.c62l {
	width: 61.5%;
}
.c62r {
	width: 61.5%;
}
.c100l {
	width: 100%;
}
.c100r {
	width: 100%;
}
.subcolumns {
	width: 100%; overflow: hidden; margin-top: 1px; float: right;
}
.pic_content {
	background: rgb(236, 243, 251); border: 1px solid rgb(169, 193, 217); border-image: none; width: auto; height: auto; text-align: center; color: rgb(1, 1, 1); line-height: 22px; text-indent: 0px; margin-right: 10px; float: left;
}
.pic_content img {
	margin: 0px;
}
.img130 {
	border: 1px solid rgb(129, 155, 182); border-image: none; width: 250px; height: auto; text-align: center; line-height: 22px; margin-bottom: 12px; float: left;
}
.img130_ {
	border: 1px solid rgb(129, 155, 182); border-image: none; width: 250px; height: auto; text-align: center; line-height: 22px; margin-bottom: 12px; float: left;
}
.img130 {
	clear: both;
}
.img130_ {
	margin-left: 10px; display: inline;
}
.img130 img {
	margin: 40px auto;
}
.img130_ img {
	margin: 40px auto;
}
.pagenumstatic {
	margin: 0px; padding: 1px 3px; border: 1px solid rgb(0, 0, 0); width: 1em; color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(217, 217, 217);
}
.pagenum a:link {
	margin: 0px; padding: 1px 3px; border: 1px solid rgb(179, 179, 179); width: 1em; color: rgb(0, 0, 0); text-decoration: none;
}
.pagenum a:visited {
	margin: 0px; padding: 1px 3px; border: 1px solid rgb(179, 179, 179); width: 1em; color: rgb(0, 0, 0); text-decoration: none;
}
.pagenum a:active {
	margin: 0px; padding: 1px 3px; border: 1px solid rgb(179, 179, 179); width: 1em; color: rgb(0, 0, 0); text-decoration: none;
}
.pagenum a:hover {
	margin: 0px; padding: 1px 3px; border: 1px solid rgb(0, 0, 0); width: 1em; color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(217, 217, 217);
}
.tableheader {
	color: rgb(0, 0, 0); font-family: Verdana; font-size: 12px; background-color: rgb(249, 248, 248);
}
.tableheader1 {
	color: rgb(0, 0, 0); font-family: Verdana; font-size: 12px; background-color: rgb(249, 248, 248);
}
.forumheader {
	color: rgb(0, 0, 0); background-color: rgb(249, 248, 248); align: center;
}
.forumcategory {
	color: rgb(0, 0, 0); background-image: url("images/forums/td001.jpg");
}
.forumcategory1 {
	color: rgb(0, 0, 0); background-image: url("images/forums/td002.jpg");
}
.table02 {
	border: 1px solid rgb(255, 255, 255); border-image: none; background-color: rgb(245, 250, 254);
}
.table-bold1 {
	color: rgb(0, 102, 153); font-family: Microsoft Yahei,Verdana; font-size: 12px; font-weight: bold; text-decoration: none;
}
.table-bold2 {
	color: rgb(255, 255, 255); font-family: Microsoft Yahei,Verdana; font-size: 12px; font-weight: bold; text-decoration: none;
}
.table-right {
	border-width: 0px 1px 0px 0px; border-style: none solid none none; color: rgb(26, 98, 163); font-family: Microsoft Yahei,Verdana; border-right-color: rgb(224, 233, 244);
}
